@font-face {
  font-family: "Lora";
  src: url("../../assets/fonts/Lora-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Hind Madurai";
  src: url("../../assets/fonts/HindMadurai-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Hind Madurai";
  src: url("../../assets/fonts/HindMadurai-Regular.ttf");
  font-weight: 300;
}
