@use "../../styles/index" as *;

.label-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: Lora;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__photo-wrapper {
    width: 12.5rem;
    height: 12.52rem;
    margin-bottom: 1rem;

    .photo {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 0.875rem;
    }
  }

  &__card {
    margin-bottom: 1rem;
    .card {
      display: flex;
      align-content: center;
      margin-bottom: 0.5rem;
      .icon-wrapper {
        width: 4rem;
        height: 4rem;
        .icon {
          width: 100%;
          height: 100%;
        }
      }

      .text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
          padding-top: 0.5rem;
          font-family: Hind Madurai;
          font-weight: 400;
          font-size: 1rem;
          line-height: 0;
        }

        .description {
          font-family: Hind Madurai;
          font-weight: 200;
          font-size: 0.75rem;
          line-height: 0;
        }
      }
    }
  }

  .washing-info__button {
    text-align: center;
    background-color: $color-blue;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    width: 18rem;
    font-family: Hind Madurai;
    font-weight: 400;
  }
}
